<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form runat="server">
        <input accept="image/*" type='file' id="imgInp" multiple />
        <div id="preview"></div>
    </form>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        imgInp.onchange = evt => {
            $('#preview').html('');

            var totalfiles = imgInp.files.length;
            var form_data = new FormData();

            for(let i = 0; i<totalfiles;i++){
                let imageSRC = URL.createObjectURL(imgInp.files[i]);

                form_data.append("files", imgInp.files[i]);
 
                let img = document.createElement("img");
                img.src = imageSRC;

                preview.appendChild(img);  
            }        

            $.ajax({
                url: '/Home/UploadFiles', 
                type: 'post',
                data: form_data,
                dataType: 'json',
                contentType: false,
                processData: false,
            }); 
        }
    </script>
</body>
</html>